".source.js":
  "Node callback":
    prefix: "cb"
    body: "function (err, ${1:value}) {${0}}"
  "Promise.then":
    prefix: "then"
    body: """
    ${1:promise}.then(function (${2:value}) {
    \t${0}
    });
    """
  "Chain thenable":
    prefix: ".then"
    body: ".then(function (${1:value}) {${0}})"
  "Promise.catch":
    prefix: "catch"
    body: """
    ${1:promise}.catch(function (${2:err}) {
    \t${0}
    });
    """
  "Chain thenable catch":
    prefix: ".catch"
    body: ".catch(function (${1:err}) {${0}})"
