".source.js":
  "describe":
    prefix: "desc"
    body: """
    describe('${1:description}', () => {
    \t${0}
    });
    """
  "it":
    prefix: "it"
    body: """
    it('${1:description}', () => {
    \t${0}
    });
    """
  "it asynchronous":
    prefix: "ita"
    body: """
    it('${1:description}', (done) => {
    \t${0}
    });
    """
  "it synchronous":
    prefix: "its"
    body: """
    it('${1:description}', () => {
    \t${0}
    });
    """
  "mocha before":
    prefix: "bf"
    body: """
    before(() => {
    \t${0}
    });
    """
  "mocha beforeEach":
    prefix: "bfe"
    body: """
    beforeEach(() => {
    \t${0}
    });
    """
  "mocha after":
    prefix: "aft"
    body: """
    after(() => {
    \t${0}
    });
    """
  "mocha afterEach":
    prefix: "afe"
    body: """
    afterEach(() => {
    \t${0}
    });
    """
