".source.js":
  "describe":
    prefix: "desc"
    body: """
    describe('${1:description}', function () {
    \t${0}
    });
    """
  "it asynchronous":
    prefix: "ita"
    body: """
    it('${1:description}', function (done) {
    \t${0}
    });
    """
  "it synchronous":
    prefix: "its"
    body: """
    it('${1:description}', function () {
    \t${0}
    });
    """
