".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "class":
    prefix: "c"
    body: """
    class ${1:name} {
    \tconstructor(${2:arguments}) {
    \t\t${0}
    \t}
    }
    """
  "class extends":
    prefix: "cex"
    body: """
    class ${1:name} extends ${2:base} {
    \tconstructor(${3:arguments}) {
    \t\tsuper(${3:arguments});
    \t\t${0}
    \t}
    }
    """
  "constructor":
    prefix: "ctor"
    body: """
    constructor(${1:arguments}) {
    \tsuper(${1:arguments});${0}
    }
    """
