".source.js":
  "Class":
    prefix: "c"
    body: """
    class ${1:name} {
    \tconstructor(${2:arguments}) {
    \t\t${0}
    \t}
    }
    """
  "Class extends":
    prefix: "cex"
    body: """
    class ${1:name} extends ${2:base} {
    \tconstructor(${2:arguments}) {
    \t\t${0}
    \t}
    }
    """
