".source.js, .source.ts, .source.tsx":
  "let assignment":
    prefix: "l"
    body: "let ${1} = ${2};\n${3}"
  "const assignment":
    prefix: "c"
    body: "const ${1} = ${2};\n${3}"
  "new":
    prefix: 'n'
    body: "new ${1}();\n${2}"
