".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "if statement":
    prefix: "if"
    body: """
    if (${1:condition}) {
    \t${0}
    }
    """
  "else statement":
    prefix: "el"
    body: """
    else {
    \t${0}
    }
    """
  "if/else statement":
    prefix: "ife"
    body: """
    if (${1:condition}) {
    \t${0}
    } else {
    \t
    }
    """
  "else if statement":
    prefix: "ei"
    body: """
    else if (${1:condition}) {
    \t${0}
    }
    """
  "for loop":
    prefix: "fl"
    body: """
    for (let ${1:i} = 0, ${2:len} = ${3:iterable}.length; ${1:i} < ${2:len}; ${1:i}++) {
    \t${0}
    }
    """
  "for in loop":
    prefix: "fi"
    body: """
    for (let ${1:key} in ${2:source}) {
    \tif (${2:source}.hasOwnProperty(${1:key})) {
    \t\t${0}
    \t}
    }
    """
  "for of loop":
    prefix: "fo"
    body: """
    for (let ${1:key} of ${2:source}) {
    \t${0}
    }
    """
  "while loop":
    prefix: "wl"
    body: """
    while (${1:condition}) {
    \t${0}
    }
    """
  "try/catch":
    prefix: "tc"
    body: """
    try {
    \t${0}
    } catch (${1:err}) {
    \t
    }
    """
  "try/finally":
    prefix: "tf"
    body: """
    try {
    \t${0}
    } finally {
    \t
    }
    """
  "try/catch/finally":
    prefix: "tcf"
    body: """
    try {
    \t${0}
    } catch (${1:err}) {
    \t
    } finally {
    \t
    }
    """
  "switch case":
    prefix: "sw"
    body: """
    switch (${1:expr}) {
    \tcase ${2:value}:
    \t\treturn $0;
    \tdefault:
    \t\treturn;
    }
    """
