".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "anonymous function":
    prefix: "f"
    body: "(${1:arguments}) => {${0}}"
  "function with body":
    prefix: "fb"
    body: """
    (${1:arguments}) => {
    \t${0}
    }
    """
	"async anonymous function":
    prefix: "af"
    body: "async (${1:arguments}) => {${0}}"
  "named function":
    prefix: "fn"
    body: """
    function ${1:name}(${2:arguments}) {
    \t${0}
    }
    """
  "async function":
    prefix: "afn"
    body: """
    async function ${1:name}(${2:arguments}) {
    \t${0}
    }
    """
  "immediately-invoked function expression":
    prefix: "iife"
    body: """
    (function (${1:arguments}) {
    \t${0}
    })(${2})
    """
	"generator":
    prefix: "gf"
    body: """
    function* (${1:arguments}) {
    \t${0}
    }
    """
  "named generator":
    prefix: "gfn"
    body: """
    function* ${1:name}(${2:arguments}) {
    \t${0}
    }
    """
