".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "module export":
    prefix: "ex"
    body: "export ${1:member}"
  "module default export":
    prefix: "exd"
    body: "export default ${1:member}"
  "import module":
    prefix: "im"
    body: "import ${1:module} from '${1:module}'"
	"import local module":
    prefix: "iml"
    body: "import ${1:module} from './${2:path}'"
