".source.js":
  "module export":
    prefix: "ex"
    body: "export ${1:member};"
  "import module":
    prefix: "im"
    body: "import ${1:*} from '${2:module}';"
  "import module as":
    prefix: "ima"
    body: "import ${1:*} as ${2:name} from '${3:module}';"
  "module as class":
    prefix: "mc"
    body: """
    var ${1:name} = (function() {
    \tfunction ${1:name}(${2:arguments}) {
    \t\t${0}
    \t}
    \treturn ${1:name};
    })();
    
    module.exports = ${1:name};
    """
