".source.js":
  "require":
    prefix: "re"
    body: "require('${1:module}')"
  "exports.member":
    prefix: "em"
    body: "exports.${1:member} = ${2:value}"
  "module.exports":
    prefix: "me"
    body: "module.exports = ${1:name}"
