".source.js":
  "Event listener":
    prefix: "on"
    body: """
    ${1:emitter}.on('${2:event}', function (${3:arguments}) {
    \t${0}
    });
    """
  "Chain event listener":
    prefix: ".on"
    body: ".on('${2:event}', function (${3:arguments}) {${0}})"
