".source.js":
  "require":
    prefix: "re"
    body: "require('${1:module}');"
  "exports.member":
    prefix: "em"
    body: "exports.${1:member} = ${2:value};"
  "module.exports":
    prefix: "me"
    body: "module.exports = ${1:name};"
  "module as class":
    prefix: "mc"
    body: """
    var ${1:name} = (function () {
    \tfunction ${1:name}(${2:arguments}) {
    \t\t${0}
    \t}
    \treturn ${1:name};
    })();

    module.exports = ${1:name};
    """
