".source.js":
  "process.nextTick":
    prefix: "nt"
    body: """
    process.nextTick(function () {
    \t${0}
    });
    """
  "process.exit":
    prefix: "pe"
    body: "process.exit(${1:code});"
