".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "Express middleware":
    prefix: "xm"
    body: """
    function (req, res${1:, next}) {
    \t${0}
    }
    """
  "Express error handler":
    prefix: "xerr"
    body: """
    function (err, req, res, next) {
    \t${0}
    }
    """
