".source.js":
  "key/value":
    prefix: ":"
    body: "${1:key}: ${2:'value'}"
  "prototype method":
    prefix: "proto"
    body: """
    ${1:Class}.prototype.${2:methodName} = function (${3:arguments}) {
    \t${0}
    }
    """
  "Chain prototype method":
    prefix: ".proto"
    body: """
    .prototype.${2:methodName} = function (${3:arguments}) {
    \t${0}
    }
    """
