".source.js":
  "return":
    prefix: "r"
    body: "return ${0};"
  "return this":
    prefix: "rth"
    body: "return this;"
  "return null":
    prefix: "rn"
    body: "return null;"
  "return true":
    prefix: "rt"
    body: "return true;"
  "return false":
    prefix: "rf"
    body: "return false;"
  "return 0":
    prefix: "r0"
    body: "return 0;"
