".source.js, .source.ts, .source.tsx, .source.js-semantic":
  "return":
    prefix: "r"
    body: "return ${0};"
  "return this":
    prefix: "rth"
    body: "return this;"
  "return null":
    prefix: "rn"
    body: "return null;"
  "return true":
    prefix: "rt"
    body: "return true;"
  "return false":
    prefix: "rf"
    body: "return false;"
  "return 0":
    prefix: "r0"
    body: "return 0;"
  "return -1":
    prefix: "r-1"
    body: "return -1;"
  "return complex value":
    prefix: "rc"
    body: """
    return (
    \t${0}
    );
    """
  "return promise":
    prefix: "rp"
    body: """
    return new Promise((resolve, reject) => {
    \t${0}
    });
    """
