".source.js":
  "String":
    prefix: "s"
    body: "String"
  "Number":
    prefix: "n"
    body: "Number"
  "Object":
    prefix: "o"
    body: "Object"
  "Array":
    prefix: "a"
    body: "Array"
  "Date":
    prefix: "d"
    body: "Date"
  "RegExp":
    prefix: "rx"
    body: "RegExp"
  "typeof":
    prefix: "tof"
    body: "typeof ${1:source} === '${2:undefined}'"
  "instanceof":
    prefix: "iof"
    body: "${1:source} instanceof ${2:Object}"
  "Symbol":
    prefix: "sym",
    body: """
    Symbol(${0})
    """
  "Proxy":
    prefix: "pr",
    body: """
    Proxy(${1:target}, ${2:handler})
    """
